@model System.Data.DataSet
@using System.Data

@{
    ViewBag.Title = "StockList";

}


@*<style>
        .Main td {
            text-align: end;
        }
    </style>*@

<h4>StockList</h4>
<div class="Search" style="font-size:70%">
    <form action="StockList" method="get" role="form">
        <label>종목명</label> <input name="Search_name" type="text" size="10" maxlength="20" />&nbsp&nbsp&nbsp
        <label>종목분류</label> <input name="Search_class" type="text" size="10" maxlength="20" />&nbsp&nbsp&nbsp
        <label>PSR</label> <input name="Search_psr" type="number" maxlength="3" style="width:50px" />이하&nbsp&nbsp&nbsp
        <label>POR</label> <input name="Search_por" type="number" size="5" maxlength="3" style="width:50px" />이하&nbsp&nbsp&nbsp
        <label>PER</label> <input name="Search_per" type="number" size="5" maxlength="3" style="width:50px" />이하&nbsp&nbsp&nbsp
        <label>영업이익율</label> <input name="Search_biz_rate" type="number" size="3" maxlength="4" style="width:50px" />이상&nbsp&nbsp&nbsp
        <label>순이익율</label> <input name="Search_net_rate" type="number" size="3" maxlength="4" style="width:50px" />이상&nbsp&nbsp&nbsp

        <input type="submit" value="Search" />
    </form>


</div>
<div class="Main">
    <table class="table-striped table-hover" style="font-size:70%">
        <tr>
            <th style="width: 55px; text-align: center">종목코드</th>
            <th style="width: 100px; text-align: center">종목명</th>
            <th style="width: 70px; text-align: end">시가총액</th>
            <th style="width: 70px; text-align: end">매출액</th>
            <th style="width: 70px; text-align: end">영업이익</th>
            <th style="width: 80px; text-align: end">당기순이익</th>
            <th style="width: 60px; text-align: end">업종PER</th>
            <th style="width: 70px; text-align: end">현재주가</th>
            <th style="width: 70px; text-align: end">Naver<br />목표주가</th>

            <th style="width: 60px; text-align: end">PER</th>
            <th style="width: 60px; text-align: end">추정PER</th>
            <th style="width: 85px; text-align: end">시총/매출액<br />1.2이하(PSR)</th>
            <th style="width: 85px; text-align: end">시총/영업이익<br />10이하(POR)</th>
            <th style="width: 80px; text-align: end">시총/순이익<br />15이하(PER)</th>
            <th style="width: 70px; text-align: end">영업이익율<br />10%이상</th>
            <th style="width: 70px; text-align: end">순이익율<br />6%이상</th>

        </tr>
        @foreach (DataRow row in Model.Tables[0].Rows)
        {
            <tr>
                @if (Convert.ToDouble(row["REMARK_LEN"].ToString()) == 0) 
                {
                <td class="td_center" style="width:55px;text-align:center"><a href="#" class="stockdetail" data-stockcode="@row["STOCK_CODE"]" data-stockname="@row["STOCK_NAME"]" data-stockremark="@row["STOCK_REMARK"].ToString().Replace("\r\n", "　")" data-toggle="modal" data-target="#detail-modal">@row["STOCK_CODE"]</a></td>
                }
                else {
                <td class="td_center" style="width: 55px; text-align: center"><a href="#" class="stockdetail" style="color:red" data-stockcode="@row["STOCK_CODE"]" data-stockname="@row["STOCK_NAME"]" data-stockremark="@row["STOCK_REMARK"].ToString().Replace("\r\n", "　")" data-toggle="modal" data-target="#detail-modal">@row["STOCK_CODE"]</a></td>
                }
                
                
                
                <td class="td_left" style="width:100px;text-align:left"><a href="@row["STOCK_URL"]" target="_blank">@row["STOCK_NAME"]</a></td>
                <td>@row["TOTAL_AMT_C"]</td>
                <td>@row["SALES_AMT_C"]</td>

                @if (Convert.ToDouble(row["BIZ_PROFIT"].ToString()) >= 0)
                {
                    <td>@row["BIZ_PROFIT_C"]</td>
                }
                else
                {
                    <td style="color:red">@row["BIZ_PROFIT_C"]</td>
                }
                @if (Convert.ToDouble(row["NET_PROFIT"].ToString()) >= 0)
                {
                    <td>@row["NET_PROFIT_C"]</td>
                }
                else
                {
                    <td style="color:red">@row["NET_PROFIT_C"]</td>
                }

                <td>@row["BIZ_PER"]</td>
                <td>@row["STOCK_PRICE"]</td>
                <td>@row["NAVER_PRICE"]</td>

                <!--  PER  -->
                @if (Convert.ToDouble(row["PER"].ToString()) <= 15 && Convert.ToDouble(row["PER"].ToString()) > 0)
                {
                    <td style="background-color:lightgreen">@row["PER"]</td>
                }
                else
                {
                    <td>@row["PER"]</td>
                }
                <!--  EST_PER  -->
                @if (Convert.ToDouble(row["EST_PER"].ToString()) <= 15 && Convert.ToDouble(row["EST_PER"].ToString()) > 0)
                {
                    <td style="background-color:lightgreen">@row["EST_PER"]</td>
                }
                else
                {
                    <td>@row["EST_PER"]</td>
                }


                <!--  계산 시총 / 매출액  -->
                @if (Convert.ToDouble(row["CAL_PSR"].ToString()) <= 1.2 && Convert.ToDouble(row["CAL_PSR"].ToString()) >= 0)
                {
                    <td style="color: red; background-color: lightskyblue">@row["CAL_PSR"]</td>
                }
                else
                {
                    <td>@row["CAL_PSR"]</td>
                }

                <!--  계산 시총 / 영업이익  -->
                @if (Convert.ToDouble(row["CAL_POR"].ToString()) <= 10 && Convert.ToDouble(row["CAL_POR"].ToString()) >= 0)
                {
                    <td style="color: red; background-color: lightskyblue">@row["CAL_POR"]</td>
                }
                else
                {
                    <td>@row["CAL_POR"]</td>
                }

                <!--  CAL_PER : 계산 시총 / 순이익  -->
                @if (Convert.ToDouble(row["CAL_PER"].ToString()) <= 15 && Convert.ToDouble(row["CAL_PER"].ToString()) >= 0)
                {
                    <td style="color: red; background-color:lightskyblue">@row["CAL_PER"]</td>
                }
                else
                {
                    <td>@row["CAL_PER"]</td>
                }

                <!--  영업이익율 : 10이상 -->
                @if (Convert.ToDouble(row["BIZ_RATE"].ToString()) >= 10)
                {
                    <td style="color:red; background-color:cyan ">@row["BIZ_RATE"]</td>
                }
                else
                {
                    <td>@row["BIZ_RATE"]</td>
                }

                <!--  순이익율 : 6이상  -->
                @if (Convert.ToDouble(row["NET_RATE"].ToString()) >= 6)
                {
                    <td style="color:red; background-color:cyan ">@row["NET_RATE"]</td>
                }
                else
                {
                    <td>@row["NET_RATE"]</td>
                }


            </tr>
        }
    </table>
</div>


<div id="detail-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="font-size:75%">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">

                <div class="text-center mt-2 mb-4">
                    <a href="index.html" class="text-success">
                        <span>
                            <img class="mr-2" src="../assets/images/logo-icon.png"
                                 alt="" height="18"><img src="../assets/images/logo-text.png" alt=""
                                                         height="18">
                        </span>
                    </a>
                </div>

                <form action="RemarkSave" class="pl-3 pr-3">
                    <div class="form-group">
                        <label>종목코드</label>
                        <input class="form-control" type="text" name="dtl_stock_code" id="dtl_stock_code">
                    </div>
                    <div class="form-group">
                        <label>종목명</label>
                        <input class="form-control" type="text" name="dtl_stock_name" id="dtl_stock_name">
                    </div>
                    <div class="form-group">
                        <label>기업내용</label>
                        <textarea class="form-control" name="dtl_stock_remark" id="dtl_stock_remark" rows="5" cols="50"></textarea>
                    </div>

                    <input type="hidden"  name="ViewName" value="StockList"/>
                    <div class="form-group text-center">

                        <button class="btn btn-rounded btn-primary" data-dismiss="modal">닫기</button>
                        <button class="btn btn-rounded btn-primary" type="submit">저장</button>
                    </div>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<script>
    
    var sStockCode = "";
    var sStockName = "";
    var NCONTENT = "";

    $(document).ready(function () {
        $(document).on("click", '.stockdetail', function () {
            sStockCode = $(this).data('stockcode');
            sStockName = $(this).data('stockname');
            sStockRemark = $(this).data('stockremark');

            //alert(sStockCode);
            //alert(sStockName);

            var v_dtl_code = document.getElementById("dtl_stock_code");
            var v_dtl_name = document.getElementById("dtl_stock_name");
            var v_dtl_remark = document.getElementById("dtl_stock_remark");

            var str = sStockRemark;
            v_dtl_remark.value = str.replace(/　/gi, '\r\n');


            v_dtl_code.value = sStockCode;
            v_dtl_name.value = sStockName;


        });
    });
</script>


